* {
    box-sizing: border-box;
}

body {
    background-image: url("images/bg_image.jpeg");
    /* background: black; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: contain;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login_box {
    position: fixed;
    margin: auto;
    top: 50%;
    left: 50%;
    width: 25rem;
    height: 20rem;
    background: white;
    transform: translate(-50%, -50%);
    animation: move 0.5s;
}

h3 {
    padding-bottom: 0.7rem;
    margin-bottom: 5px;
}

.box_lines_cont {
    padding-left: 20px;
    list-style: none;
}

.box_lines {
    margin: 0;
}

.logo_W_text {
    vertical-align: middle;
}

.Faded {
    font-size: 1.2rem;
}

.box_lines input {
    width: 100%;
    border: none;
    border-bottom: rgba(97, 97, 241, 0.815) 1px solid;
    padding-bottom: 6px;
    padding-top: 0.9rem;
}

.box_lines input:focus {
    content: none;
    outline: none;
    border-bottom: 1px solid #ff1b68;
}

.login_context {
    padding: 20px 1rem;
}

.logo_W_text {
    height: 1.5rem;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo_W_text img {
    height: 100%;
}

.small {
    font-size: 0.8rem;
    color: rgb(18, 51, 143);
}

#white {
    color: black;
}

.small li {
    padding: 0.7rem 0;
}

.small li:nth-child(1) {
    padding-top: 3px;
}

.signup {
    text-decoration: none;
}

.pass_retrieve {
    text-decoration: none;
}

.pass_retrieve:hover {
    color: black;
}

.submit {
    /* background: rgb(29, 106, 150); */
    background: rgba(250, 101, 2, 0.932);
    padding: 7px 2rem;
    color: white;
    outline: none;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border: none;
}

.submit:hover {
    background: black;
}

@media(max-width:1050px) {
    body {
        background: #000;
        font-size: 1rem;
    }
}