{% extends "base.html" %}

{% block title %}
    <title>Django Africa | Home</title>
{% endblock %}

{% block content %} 
<div class="container-fluid">
    <div class="container">
    </div>
    <div class="container mt-5 pt-5">
        <div class="alert alert-warning text-center" role="alert">
            <h1>DjangoAfrica</h1>
            <h6> <em>I awake Africa</em> </h6>
        </div>
        <div class="alert alert-dark text-center" role="alert">
        Django Africa a non-governmental organization, 
        aimed with spreading the knowledge of the web
        to underserved communities in Africa, and using
        the means appropriate to get this message across.
        </div>
        <div class="alert alert-light text-center" role="alert">
            <q>The angel is free because of his knowledge, the beast because of his ignorance. Between the two remains the son of man to struggle.</q> - Rumi
        </div>
    </div>
    <div class= "container">
    </div>
</div>
{% endblock %} 
